.videos{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
  width: 100%;
  padding: 50px 250px;
}

video{
  width:100%;
  border:2px solid greenyellow;
  background-color: rgb(63,62,62);
}
.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btns button {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 20px;
}
textarea {
  height: 400px;
  width: 400px;
}