/*.app {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.videos {
    display: flex;
    gap: 10px;
}
video {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
textarea {
    width: 500px;
    height: 100px;
} */
.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 70% 30%;
}
nav {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: black;
}
.local-video {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}
.remote-video {
    height: 90%;
    width: 70%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: black;
    z-index: 1;
}
.btns {
    display: flex;
    gap: 10px;
}
.btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 0px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.incoming-call {
    animation: calling 1s ease-in-out infinite;
}
@keyframes calling {
    0%   {opacity: 0.25;}
    25%  {opacity: 0.50; background-color: purple;border: 1px solid purple;}
    50%  {opacity: 0.75;background-color: purple;border: 1px solid purple;}
    100% {opacity: 1;background-color: purple; border: 1px solid purple;}
  }
  